.contact-page {
  text-align: center;
}

.page-title {
  font-size: 5vh;
  font-weight: bold;
  margin-bottom: 1vh;
  color: #333;
  margin-top:4px;
  margin-left: 13vw;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 per row */
  gap: 1vw; /* spacing between cards */
  justify-items: center; /* center each card */
  margin-left: 19vw;
}

/* Responsive: stack into 2 per row for tablets */
@media (max-width: 900px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Responsive: stack into 1 per row for mobile */
@media (max-width: 600px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}
